<a href="https://colab.research.google.com/github/SeanRommes/food-sales-predictions/blob/main/food_sales_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
import pandas as pd
from google.colab import drive
filename = '/content/drive/MyDrive/Coding Dojo Course Work/project downloads/sales_predictions.csv'

In [62]:
df = pd.read_csv(filename)
df.head(10)
# resources below
# https://datahack.analyticsvidhya.com/contest/practice-problem-big-mart-sales-iii/

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

In [81]:
len(df)

8523

In [64]:
df.duplicated().sum()

0

In [65]:
# I'm having a hard time determining if these columns are useful for analysis 
# so i'm considering dropping these: Outlet Identifier, Outlet establishment year,
# outlet size, location type, and outlet type
# may consider dropping Item weights to focus on what the item was and how well it sold but tbd
df = df.drop(columns =['Outlet_Identifier','Outlet_Establishment_Year', 'Outlet_Size','Outlet_Location_Type','Outlet_Type'])
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,994.7052

In [66]:
# looking for missing values
df.isna().sum()

Item_Identifier         0
Item_Weight          1463
Item_Fat_Content        0
Item_Visibility         0
Item_Type               0
Item_MRP                0
Item_Outlet_Sales       0
dtype: int64

In [67]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,994.7052

In [68]:
# i'm going to address some of these missing values under Item_Weight
# efforts to identify what exactly the item weights are using their item id proved fruitless
# so i'm going to use a mean weight to fill in the missing values(plus there were a lot of missing values)

mean_weight = df['Item_Weight'].mean()
df['Item_Weight'].fillna(mean_weight, inplace=True)
df.isna().sum()

Item_Identifier      0
Item_Weight          0
Item_Fat_Content     0
Item_Visibility      0
Item_Type            0
Item_MRP             0
Item_Outlet_Sales    0
dtype: int64

In [69]:
df.head(20)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Item_Outlet_Sales
0,FDA15,9.300000,Low Fat,0.016047,Dairy,249.8092,3735.1380
1,DRC01,5.920000,Regular,0.019278,Soft Drinks,48.2692,443.4228
2,FDN15,17.500000,Low Fat,0.016760,Meat,141.6180,2097.2700
3,FDX07,19.200000,Regular,0.000000,Fruits and Vegetables,182.0950,732.3800
4,NCD19,8.930000,Low Fat,0.000000,Household,53.8614,994.7052
5,FDP36,10.395000,Regular,0.000000,Baking Goods,51.4008,556.6088
6,FDO10,13.650000,Regular,0.012741,Snack Foods,57.6588,343.5528
7,FDP10,12.857645,Low Fat,0.127470,Snack Foods,107.7622,4022.7636
8,FDH17,16.200000,Regular,0.016687,Frozen Foods,96.9726,1076.5986
9,FDU28,19.200000,Regular,0.094450,Frozen Foods,187.8214,4710.5350
10,FDY07,11.800000,Low Fat,0.000000,Fruits and Vegetables,45.5402,1516.0266
11,FDA03,18.500000,Regular,0.045464,Dairy,144.1102,2187.1530
12,FDX32,15.100000,Regular,0.100014,Fruits and Vegetables,145.4786,1589.2646
13,FDS46,17.600000,Regular,0.047257,Snack Foods,119.6782,2145.2076
14,FDF32,16.350000,Low Fat,0.068024,Fruits and Vegetables,196.4426,1977.4260
15,FDP49,9.000000,Regular,0.069089,Breakfast,56.3614,1547.3192
16,NCB42,11.800000,Low Fat,0.008596,Health and Hygiene,115.3492,1621.8888
17,FDP49,9.000000,Regular,0.069196,Breakfast,54.3614,718.3982
18,DRI11,12.857645,Low Fat,0.034238,Hard Drinks,113.2834,2303.6680
19,FDU02,13.350000,Low Fat,0.102492,Dairy,230.5352,2748.4224

In [70]:
df.nunique()

Item_Identifier      1559
Item_Weight           416
Item_Fat_Content        5
Item_Visibility      7880
Item_Type              16
Item_MRP             5938
Item_Outlet_Sales    3493
dtype: int64

In [71]:
# there are 5 identical values for fats so i'm going to replace these with 'Regular' or 'Low Fat'
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [72]:
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('LF', 'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('reg', 'Regular')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('low fat', 'Low Fat')
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [73]:
# I'm okay with this
df['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [79]:
#upon inspection all item id's appear to be consistent, and unique(having different mrps and sales)
df['Item_Identifier'].value_counts()

FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [78]:
# This was just me checking different values
fd_filter = df['Item_Identifier']== 'FDD38'
df[fd_filter]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Item_Outlet_Sales
652,FDD38,16.750000,Regular,0.008208,Canned,102.8674,1528.0110
2632,FDD38,16.750000,Regular,0.008192,Canned,103.5674,1629.8784
3228,FDD38,16.750000,Regular,0.008185,Canned,101.2674,1528.0110
3556,FDD38,16.750000,Regular,0.013711,Canned,100.2674,203.7348
4290,FDD38,12.857645,Regular,0.014343,Canned,103.7674,203.7348
4662,FDD38,16.750000,Regular,0.008204,Canned,99.8674,2342.9502
5432,FDD38,16.750000,Regular,0.008190,Canned,103.7674,2852.2872
8018,FDD38,12.857645,Regular,0.000000,Canned,100.3674,1833.6132
8357,FDD38,16.750000,Regular,0.008238,Canned,101.9674,1528.0110

In [32]:
# everything here seems to be as it should be
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Item_Identifier    8523 non-null   object
 1   Item_Weight        8523 non-null   float64
 2   Item_Fat_Content   8523 non-null   object
 3   Item_Visibility    8523 non-null   float64
 4   Item_Type          8523 non-null   object
 5   Item_MRP           8523 non-null   float64
 6   Item_Outlet_Sales  8523 non-null   float64
dtypes: float64(4), object(3)
memory usage: 466.2+ KB

**Obtaining statistical values of numerical columns MRP, Visibility,and Outlet_Sales**
(I'm guessing you dont care about the statistics of the item weights)

In [82]:
df['Item_MRP'].describe()

count    8523.000000
mean      140.992782
std        62.275067
min        31.290000
25%        93.826500
50%       143.012800
75%       185.643700
max       266.888400
Name: Item_MRP, dtype: float64

In [83]:
df['Item_Outlet_Sales'].describe()

count     8523.000000
mean      2181.288914
std       1706.499616
min         33.290000
25%        834.247400
50%       1794.331000
75%       3101.296400
max      13086.964800
Name: Item_Outlet_Sales, dtype: float64

In [90]:
df['Item_Visibility'].describe()

count    8523.000000
mean        0.066132
std         0.051598
min         0.000000
25%         0.026989
50%         0.053931
75%         0.094585
max         0.328391
Name: Item_Visibility, dtype: float64